<!--会員情報編集ページ(塚本)-->
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-9 mx-auto align-items-center">
      <h2 class="text-center my-4">会員情報編集</h2>
      <%= form_with model: @customer do |f| %>
      <table class="table">
        <tr class="form-group">
          <td>氏名</td>
          <td>
            <%= f.text_field :last_name %><%= f.text_field :first_name, class: "ml-3" %>
          </td>
        </tr>
        <tr class="form-group">
          <td>フリガナ</td>
          <td>
            <%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana, class: "ml-3" %>
          </td>
        </tr>
        <tr class="form-group">
          <td>郵便番号</td>
          <td><%= f.text_field :postcode %></td>
        </tr>
        <tr class="form-group">
          <td>住所</td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr class="form-group">
          <td>電話番号</td>
          <td><%= f.text_field :telephone_number %></td>
        </tr>
        <tr class="form-group">
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>
      </table>
      <div class="row">
        <div class="col-8"><%= f.submit "編集内容を保存する", class: "btn btn-primary rounded-pill text-lig ml-5" %></div>
        <div class="col-4"><%= link_to "退会する", confirm_customers_path, class: "btn btn-danger rounded-pill text-lig" %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>


