<%# item edit 町井 %>
<div class='container'>
  <div class='row'>
    <div class="col-md-3">
      <% if @item.errors.any? %>
      <%= @item.errors.count %>erros
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <%= flash[:notice] %>
    <div class='col-lg-7 col-md-9 align-items-center'>
      <h2 class="text-center mt-4"><i class="fa-solid fa-paintbrush fa-beat"></i> 商品編集 <i class="fa-solid fa-eraser fa-beat"></i></h2>
      <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
        <div class="form-group row">
          <%= f.label :image, "商品画像" ,class:'col-12'%><br>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class="form-group row">
          <%= f.label :title, "商品名" , class: 'col-12'%>
            <%= f.text_field :name, class: 'form-control item_title col-11' %>
        </div>
        <div class="form-group row">
          <%= f.label :opinion, "商品説明" %>
          <%= f.text_area :detail, class: 'form-control item_body col-11' %>
        </div>
        <div class="form-group row">
          <%= f.label :name, "ジャンル" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "選択してください" }, class: 'form-control col-11' %>
        </div>
        <div class="form-group row ">
          <%= f.label :title, "税抜価格" %>
          <%= f.text_field :price, class: 'form-control item_title col-11' %>円
        </div>
        <div class="form-group row align-items-center d-flex ">
          <!--<div class="col-md-6 offset-md-3">-->
          <%= f.radio_button :is_sales_status, "販売中" %>
          <%= f.label :is_sales_status, "販売中",class: "ml-1 mr-3 mb-0" %>
          <%= f.radio_button :is_sales_status, "販売停止中" %>
          <%= f.label :is_sales_status, "販売停止中",class: "ml-1 mr-3 mb-0" %>
          <!--</div>-->
        </div>
        <div class="form-group row ">
          <%= f.submit "変更を保存", class:"btn btn-dark rounded-pill text-light text-center" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

