<!--あやか配送先-->
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <h3><i class="fa-solid fa-box-open"></i>配送先・編集<i class="fa-solid fa-truck"></i></h3>
    </div>
  </div>
    <%= form_with model: @shipping_address, url: shipping_address_path do |f| %>
<!--%= render "publics/shared/error_messages", resource: resource %>-->
<!--郵便番号-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :postcode,"郵便番号(ハイフンなし)" %>
          <%= f.text_field :postcode, class: "form-control" %>
        </div>
      </div>
    </div>
  <!--住所-->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :address,"住所" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
    </div>
  <!--宛名-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <p>宛名</p>
          <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>
      </div>
    </div>
<!--新規登録ボタン-->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group actions">
          <%= f.submit "配送先更新", class: "btn btn-success rounded-pill" %>
        </div>
      </div>
    </div>
  <% end %>
</div>   
  
