<!--ayaka-->
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <h2>配送先　登録・一覧</h2>
    </div>
  </div>
    <%= form_with(model: @shipping_address, url: shipping_addresses_path, class: "form") do |f| %>
    <%= render "public/shared/error_messages", resource: @shipping_address %>
<!--郵便番号-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :postcode,"郵便番号(ハイフンなし)" %>
          <%= f.text_field :postcode, class: "form-control" %>
        </div>
      </div>
    </div>
<!--住所-->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :address,"住所" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
    </div>
<!--宛名-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <p>宛名</p>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>
      </div>
    </div>
<!--新規登録ボタン-->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group actions">
          <%= f.submit "新規登録", class: "btn btn-success rounded-pill" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!--配送先登録一覧-->
<table class="table">
  <thead>
      <tr>
        <th scope="col">郵便番号</th>
        <th scope="col">住所</th>
        <th scope="col">宛名</th>
        <th scope="col"></th>
      </tr>
  </thead>
  <tbody>
    <% @shipping_addresses.each do |address| %>
      <tr>
        <td> <%= address.postcode %></td>
        <td> <%= address.address %></td>
        <td> <%= address.name %></td> 
        <td> 
          <%= link_to "編集", edit_shipping_address_path(address), class:"btn btn-warning rounded-pill text-light" %>
          <%= button_to "削除", address, method: :delete, data: { confirm: "削除してもよろしいですか？" }, class:"btn btn-danger rounded-pill text-light", form_class: "d-inline" %>
        </td>
    <% end %>
      </tr>
  </tbody>
</table>