<div class="container">
  <div class="row mx-auto mt-5 text-center">
    <div class="col-12">
      <div class="row align-items-baseline">
        <h2><i class="fa-regular fa-clipboard fa-shake"></i>注文情報確認<i class="fa-solid fa-pen fa-shake"></i></h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th scope="col">商品名</th>
                <th scope="col" class="text-center align-middle">単価(税込)</th>
                <th scope="col" class="text-center align-middle">数量</th>
                <th scope="col" class="text-center align-middle">小計</th>
              </tr>
            </thead>
            <tbody>
              <% @cart_items.each do |cart_item| %>
                <tr>
                  <td class="align-middle" style="display: flex; align-items: center;">
                    <%= image_tag cart_item.item.image, size: "100x100", class: "img-thumbnail" %>
                    <%= cart_item.item.name %>
                  </td>
                  <td class="text-center align-middle"><%= number_with_delimiter(cart_item.item.tax_included_price) %></td>
                  <td class="text-center align-middle"><%= cart_item.amount %></td>
                  <td class="text-center align-middle"><%= number_with_delimiter(cart_item.item.tax_included_price * cart_item.amount) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-4 offset-md-2">
          <table class="table table-bordered">
            <tr>
              <td class="align-middle">送料</td>
              <td class="text-center align-middle">800</td>
            </tr>
            <tr>
              <td class="align-middle">商品合計</td>
              <td class="text-center align-middle"><%= number_with_delimiter(@cart_items.sum { |item| item.item.tax_included_price * item.amount }) %></td>
            </tr>
            <tr>
              <td class="align-middle">請求金額</td>
              <td class="text-center align-middle"><%= number_with_delimiter(@cart_items.sum { |item| item.item.tax_included_price * item.amount } + 800) %></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="align-middle">支払方法: <%= @order.payment_method_i18n %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="align-middle">お届け先: 〒<%= @order.postcode %> <%= @order.address %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="align-middle"><%= @order.name %>様</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= form_with model: @confirm_order, url: '/orders', local: true do |f| %>
            <%= f.hidden_field :customer_id, value: current_customer.id %>
            <%= f.hidden_field :payment_method, value: @order.payment_method %>
            <%= f.hidden_field :postage, value: 800 %>
            <%= f.hidden_field :postcode, value: @order.postcode %>
            <%= f.hidden_field :billing_amount, value: (@cart_items.sum { |item| item.item.tax_included_price * item.amount } + 800) %>
            <%= f.hidden_field :address, value: @order.address %>
            <%= f.hidden_field :name, value: @order.name %>
            <%= f.hidden_field :order_status, value: @order.order_status %>

            <%= f.submit "注文を確定する", class: 'btn btn-danger rounded-pill text-light' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>