<div class="container-fluid">
  <div class="row mx-auto mt-5">
    <div class="col-xl-2" style="text-align: left;">
      <%= render 'layouts/genre' ,genres:@genres %>
    </div>
    <div class="col-xl-10">
      <div class="row">
        <div class="col-xl-4">
          <%= image_tag @item.image, size: "300x300" %>
        </div>
        <div class="col-xl-6">
          <p><strong><%= @item.name %></strong></p><br>
          <p><%= @item.detail %></p>
          <p><strong><%= number_to_currency(@item.tax_included_price, unit: '¥', precision: 0, delimiter: ',') %></strong>(税込)</p>
        </div>
      </div>
      <div class="row">
        <% if customer_signed_in? %>
          <div class="col-xl-10 d-flex justify-content-end">
            <%= form_with(model: @cart_item,url: cart_items_path, method: :post, local: true) do |f| %>
              <div class="d-flex align-items-center">
                <%= f.select :amount, (1..10), {include_blank: "個数選択"}, class: 'form-control col-6 mr-2' %>
                <%= f.hidden_field :item_id, :value => @item.id %>
                <!--第一引数にオブジェクト名item_id、第二引数部分にamountで受け渡す値 @item.idを指定-->
                <!--cartitem controllerの cart_items.find_by(item_id:に送ることができる-->
                <%= f.submit "カートに入れる", class: "btn btn-danger rounded-pill" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-xl-10 d-flex justify-content-end align-items-baseline">
            <p>ご利用にはログインが必要です。</p>
            <%= link_to "ログイン", new_customer_session_path, class: "btn btn-primary rounded-pill" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
