<!DOCTYPE html>
<html>
  <head>
    <title>ながのけーき</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--フォント-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
<!--フォントオーサムurl-->
    <script src="https://kit.fontawesome.com/7c3c855863.js" crossorigin="anonymous"></script>
  </head>
<!--部分テンプレート-->
  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= bootstrap_class_for_flash(key) %>">
        <%= message %>
      </div>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
